<div class="row">
    <div class="col-12">
        <h4 class="d-inline">Assorted Diary</h4>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/assorteddiary/img1.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Amul Butter</h4>
                        <p class="card-text">Amul butter is not just a taste that is loved by India, it's actually a taste that is derived from India and its traditional dahi butter, or makhan, as it is better known
</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/assorteddiary/img2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Everyday Milkpowder Dairy Whitener Packet</h4>
                        <p class="card-textNestle Everyday is a tea enhancer that mixes in completely with your tea to lift its taste - so you get a thicker & tastier cup of tea
</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/assorteddiary/img3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Nestle Condensed Milk Milkmaid</h4>
                        <p class="card-text"> Versatile sweetened condensed milk for both traditional Indian & western desserts
Made with high quality milk & contains no artificial preservatives
Partly skimmed, sweetened condensed milk from the house of Nestle
</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6 img-responsive">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/assorteddiary/img4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Amul Malai Paneer Packet</h4>
                        <p class="card-text">Equivalent to Cream Cottage cheese.
Most convenient form of paneer.
Rich in Proteins.
Pure and Hygienic.
Having high fat and low moisture compared to loose paneer available in market. Paneer having smooth: uniform texture and softness.
</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
        </div>
        <!-- Row -->
    </div>
</div>
<!-- End Row -->
<!-- Row -->
<div class="row">
    <div class="col-12">
        <h4 class="d-inline">Card with Image code icon</h4>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/assorteddiary/img5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Amul Garlic & Herb Butter</h4>
                        <p class="card-text">The rich Garlic taste with Oregano herbs blended well in Classic Amul Butter gives it a unmatched taste & flavour
No artificial flavour or colour added
100 Percent natural
</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/assorteddiary/img6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Amul Delicious Margarine</h4>
           <p class="card-text"> Cholesterol Free
• Fortified with vitamin A & D
</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/assorteddiary/img7.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Amul Mithai Mate Condensed Milk Can</h4>
        <p class="card-text"> Sweetened Condensed Milk -Amul Mithai Mate is much creamier than competitors available in market. ... Amul Mithai Mate is the best milk maid which is made of fresh milk and added tasty healthy ingredients. Amul milk made great demand in the market for its best taste and quality. It is made from best skimmed milk.

</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6 img-responsive">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/assorteddiary/img8.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Amul Masti Buttermilk Tetrapack</h4>
                        <p class="card-text">t is an easy to use low calorie drink that refreshes you immediately with goodness of nature
Amul masti buttermilk asli masti, asli taazgi
Refreshing thirst quenching drink with goodness of nature
Unique taste of Amul masti buttermilk
</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
        </div>
        <!-- Row -->
    </div>
</div>
<!-- End Row -->
<!-- Row -->

