<div class="row">
    <div class="col-12">
        <h4 class="d-inline">Cosmetics</h4>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/cosmetics/img1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Ponds Dreamflower </h4>
                        <p class="card-text">Helps you stay fresh & keep skin soft & smooth throughout the day and prevents body odour by absorbing sweat and fighting bacteria.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/cosmetics/img2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Santoor Talcum</h4>
                        <p class="card-text">It keeps you feeling fresh and fragrant all day long and leaves your skin feeling soft and smooth, enhancing its beauty.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/cosmetics/img3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Ponds Oil Control</h4>
                        <p class="card-text"> This gentle powder softly caresses your skin while providing long lasting protection against body odor and perspiration.Loaded with natural ingredients, the powder is gentle and effective and also provides instant fairness to your skin.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6 img-responsive">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/cosmetics/img4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Kara Wipes Nail Polish Remover Orange 30 Pieces</h4>
                        <p class="card-text">Are an essential that can be used anywhere, anytime. Acetone free and with the power of tangy orange, these wipes naturally brighten your nails leaving an envious afterglow.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
        </div>
        <!-- Row -->
    </div>
</div>
<!-- End Row -->
<!-- Row -->
<div class="row">
    <div class="col-12">
        <h4 class="d-inline">Card with Image code icon</h4>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/cosmetics/img5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Shower to Shower Prickly Heat Powder with Cologne Cool</h4>
                        <p class="card-text">With cologne cool prickly heat powder, specially designed to help prickly heat related problems and safe for use</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/cosmetics/img6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Dermicool Prickly Heat Powder Regular</h4>
                        <p class="card-text">It is antiseptic and absorbent in nature. It provides cooling and soothing effect that gives you instant relief from itching, heat rash and skin irritation. It has a mild lavender scent to leave you smelling great.p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/cosmetics/img7.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Lakme Eyeconic Kajal</h4>
                        <p class="card-text"> It has intense matte texture for Eyeconic eyes. You can Experiment with a thin line or a bold wing, this kajal is great for day and night looks. Its long-lasting- up to 22 hours without smudging and is completely water proof. It is designed with an easy to use and convenient twist-up format.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6 img-responsive">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/cosmetics/img8.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Lakme Complexion Care Color Transform Cream,Beige</h4>
                        <p class="card-text">Enriched with colour changing beads, Lakme 9 TO 5 CC Color Transform Cream is an advanced fairness cream that reveals a flawless and fair complexion with a makeup like finish. It starts out as a white cream that changes colour as you blend it onto your skin to give you a touch of make-up.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
        </div>
        <!-- Row -->
    </div>
</div>
<!-- End Row -->
<!-- Row -->
<div class="row">
    <div class="col-12">
        <h4 class="d-inline">Card with Image code icon</h4>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/cosmetics/img9.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">BoroPlus Talc Prickly Heat Ice Cool Powder</h4>
                        <p class="card-text">Quick and long lasting relief from the prickly and itchy heat, is just a talc away. ... Enriched with ACTIVE HERBO-MINERALS, it gives relief to skin from itchy and prickly heat and provides icy cool sensation. Absorbs excess sweat, keeping one fresh and cool for a long time.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/cosmetics/img10.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">White Tone Face Powder</h4>
                        <p class="card-text"> A wonderful quality of using this talcum powder is that you get a smooth and glowing face. With a soft shade formula, this White Tone Face Powder diminishes minor blemishes and gives you an even tone.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/cosmetics/img11.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Yardley London - Gentleman Talc for Men</h4>
                        <p class="card-text"> Yardley Gentleman Talcum Powder is a modern masculine fragrance, opening with fresh citrus, black pepper and spicy blend of cardamom. This masculine talc is interlaced with a soft heart of floral notes resting on a woody accord of luxurious sandalwood, musk, amber and a sweet hint of white chocolate.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6 img-responsive">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/cosmetics/img12.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Fem Creame Gold Bleach</h4>
                        <p class="card-text">For gold like natural sheen on the skin, use Fem Fairness Naturals Gold Bleach. With no added ammonia, it is a safe and effective formula that lightens & brightens the skin tone by removing any dead cells from the surface of the skin and stopping regeneration of any new pigmentation cells.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
        </div>
        <!-- Row -->
    </div>
</div>
<!-- End Row -->
<!-- Row -->


