<div class="row">
    <div class="col-12">
        <h4 class="d-inline">Hair Care</h4>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/haircare/img1.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Sunsilk Stunning Black Shine Shampoo</h4>
                        <p class="card-text">Co-created with Jamal Hammadi, the Sunsilk Stunning Black Shine Shampoo protects your mane from aggressors like harsh sunlight, and works to restore its shine.Black Beauty-Infused with amla pearl complex, this shampoo revives your black mane to make it healthy, shiny, and full.Intensive Nourishment-This gentle formula nourishes each hair strand from the root to its tip.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/haircare/img2.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">L'Oreal Paris Total Repair 5 Advanced Repairing Shampoo</h4>
                        <p class="card-text">Repairs the hair fibre,transforms the hair surface to a regular and smooth condition and fights the 5 signs on hair damage being, hair fall, dryness, roughtness, dullness and split ends
</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/haircare/img3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Parachute Coconut Oil</h4>
                        <p class="card-text"> Consistent composition and viscosity in every drop of oil,Long lasting freshness, 5 Stage Purification process to ensure 100% pure coconut oil every time and made from the finest quality coconut to ensure best Coconut Oil
</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6 img-responsive">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/haircare/img4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">L'Oreal Paris Casting Creme Gloss, Ebony Black 200</h4>
                        <p class="card-text">A non-ammonia hair colour that gives natural looking colour with visible shimmering tones and a glossy shine and gives your hair a total beauty treatment as the No ammonia formula covers grey and easy, clean and pleasurable application with the non-drip crème formula in just 20 minutes, even for beginners

</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
        </div>
        <!-- Row -->
    </div>
</div>
<!-- End Row -->
<!-- Row -->
<div class="row">
    <div class="col-12">
        <h4 class="d-inline">Card with Image code icon</h4>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/haircare/img5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Sunsilk Hair Shampoo - Soft & Smooth + Egg & Almond Oil 70ml by Sunsilk</h4>
                        <p class="card-text">The hair is stripped off its essential oils, leaving it dry.It is enriched with egg ceramide complex.It cleanses your hair and conditions even the driest hair, leaving it soft and smooth.
</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/haircare/img6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Clinic Plus Strong and Long Health Shampoo</h4>
                        <p class="card-text">This strong and long health shampoo from Clinic Plus contains milk protein and lysine for healthy, shining hair. This shampoo can be used by the whole family and is suitable for all hair types. It nourishes your hair and cleanses your scalp to prevent oil build up- so you can definitely use it daily.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/haircare/img7.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Head & Shoulders Smooth and Silky Shampoo</h4>
        <p class="card-text"> Gentle enough for everyday use, even for color or chemically treated hair,formulated with Head and Shoulders’ Fresh Scent Technology featuring enhanced fragrance notes for an improved in-shower scent experience and visible flakes with regular use
</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6 img-responsive">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/haircare/img8.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Dove Hair Fall Rescue Shampoo</h4>
                        <p class="card-text">Deeply nourishes damaged hair from root to tip, fortifies strands to reduce hair fall by up to 98%,makes hair visibly fuller.
</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
        </div>
        <!-- Row -->
    </div>
</div>
<!-- End Row -->
<!-- Row -->
<div class="row">
    <div class="col-12">
        <h4 class="d-inline">Card with Image code icon</h4>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/haircare/img9.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">TRESemme Hair Fall Defense Shampoo</h4>
      <p class="card-text">Gives you stronger and smoother hair with less hair fall due to breakage, it targets your most damaged areas to strengthen and help restore your hair and gentle enough for daily use.
</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/haircare/img10.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Patanjali Kesh Kanti Natural Hair Cleanser</h4>
                        <p class="card-text">Hair cleanser - Safety for hair and treatment for diseases.This gives beauty to the hairs, treating dryness and dandruffs and Bhrigraj, myrtle (mahendi), acadiaconcinna (shikakai) and emblicmyrobalan (aola), give new strength to the hairs.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/haircare/img11.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Dabur Anmol Gold Pure Coconut Oil</h4>
                  <p class="card-text"> 100 percent pure coconut oil.It provides nourishment and prevent overall hair damage. It has a special non-sticky formulation that makes it sensorially pleasant and gives silky, bouncy hair.
</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-3 col-md-6 img-responsive">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="assets/images/big/haircare/img12.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Pantene Pro-V Silky Smooth Care Shampoo</h4>
                  <p class="card-text">Thicker, stronger hair in 14 days.Cleanses hair and locks in essential moisture.Provides up to 10x damage protection.Hair remains silky smooth throughout the day
.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
        </div>
        <!-- Row -->
    </div>
</div>
<!-- End Row -->
<!-- Row -->



